.terraform
src/backend/services/venv/
src/backend/services/past_chunks/
src/backend/services/chunks/
src/backend/services/downloads/
src/frontend/node_modules/
.env
__pycache__/
service_account.json
*.lock.hcl
*.json
*.tfstate
*.tfstate.backup
venv